@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply fixed inset-0 top-0 left-0 overflow-y-auto;
  }
  .container {
    @apply w-full sm:max-w-[610px] md:max-w-[720] lg:max-w-[970px] xl:max-w-[1200] 2xl:max-w-[1360px] px-[10px] sm:px-0 mx-auto;
  }
  .headerview {
    @apply h-[48px] sm:h-[56px] md:h-[64px] lg:h-[72px] xl:h-[80px] mb-3 sm:mb-4 md:mb-5 lg:mb-6 xl:mb-7;
  }
  .contentview {
    @apply h-[calc(100%-60px)] sm:h-[calc(100%-72px)] md:h-[calc(100%-84px)] lg:h-[calc(100%-96px)] xl:h-[calc(100%-108px)];
  }
}

.scroller {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroller::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
